* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --primary: #e63b2e;
  --secundary: #f85a3e;
  --tertairy: #aadce6;
  --quaternary: #c5e1e0;

  --background: #e1e6e1;

  font-family: "Source Sans Pro", sans-serif;
}

/*nav bar*/
nav {
  background-color: var(--tertairy);
  height: 9vh;
  display: flex;
  justify-content: space-between;
  padding: 0 2%;
}

nav div {
  display: flex;
  flex-direction: row;
}

nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
  color: black;
  padding: 0 1em;
  padding-bottom: 5px;
}

nav a:hover {
  margin: 2px;
  color: var(--primary);
}

/*index.php*/
.background_landing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-image: url("../media/background.jpg");
  background-repeat: no-repeat;
}

.search_bar {
  width: 50%;
  height: 200px;
  background-color: var(--secundary);
  margin-top: 350px;
}

.cards {
  margin-top: 100px;
  width: 100%;
  height: 400px;
  background-color: var(--primary);
}
