* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --primary: #e63b2e;
  --secundary: #f85a3e;
  --secundary05: rgba(248, 90, 62, 0.9);
  --donkerblauw: #adcfdb;
  --tertairy: #aadce6;
  --tertairy05: rgba(170, 220, 230, 0.8);
  --quaternary: #c5e1e0;
  --background: #e1e6e1;
  font-family: "Source Sans Pro", sans-serif;
}

.lowercase {
  text-transform: lowercase;
}

/*nav.php*/
nav {
  position: absolute;
  height: 9vh;
  display: flex;
  justify-content: space-between;
}

nav .navbar {
  display: flex;
  flex-direction: row;
}

nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
  color: black;
  padding: 0 1em;
  padding-bottom: 5px;
}

nav a:hover {
  color: var(--primary);
}

/*index.php*/
.background_landing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-image: url("../media/new_background.jpg");
  background-repeat: no-repeat;
}

.arrow {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: url("../media/arrow.png");
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  transition: all 0.3s;
  margin-top: 130px;
  margin-bottom: 8px;
}

.arrow:hover {
  background-image: url("../media/arrow_hover.png");
}

.logo {
  background-image: url("../media/logo.png");
  background-repeat: no-repeat;
  height: 300px;
  width: 350px;
  margin-top: 120px;
  animation: bounce-in-top 1.1s both;
}

.titel_card {
  text-align: center;
  background-color: var(--donkerblauw);
  padding-top: 10px;
}

.titel_card h2 {
  color: var(--primary);
}

.cards {
  width: 100%;
  background-color: var(--donkerblauw);
}

.card_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding-bottom: 20px;
}

.card {
  width: 380px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 20px;
  background-color: var(--donkerblauw);
}
.card:hover .card__caption {
  top: 50%;
  transform: translateY(-50%);
}
.card:hover .card__image {
  transform: translateY(-10px);
}
.card:hover .card__thumb::after {
  top: 0;
}
.card:hover .card__snippet {
  margin: 20px 0;
}
.card__thumb {
  position: relative;
  max-height: 400px;
  overflow: hidden;
}
@media (min-width: 1024px) {
  .card__thumb {
    max-height: 500px;
  }
}
.card__thumb::after {
  position: absolute;
  top: 0;
  display: block;
  content: "";
  width: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 40%,
    rgba(255, 255, 255, 0) 100%
  );
  transition: 0.3s;
}
@media (min-width: 1024px) {
  .card__thumb::after {
    top: calc(100% - 140px);
  }
}
.card__image {
  transition: 0.5s ease-in-out;
}
.card__caption {
  position: absolute;
  top: 50%;
  z-index: 1;
  padding: 0 20px;
  color: white;
  transform: translateY(-50%);
  text-align: center;
  transition: 0.3s;
}
@media (min-width: 1024px) {
  .card__caption {
    top: calc(100% - 60px);
    transform: unset;
  }
}
.card__title {
  display: -webkit-box;
  max-height: 85px;
  overflow: hidden;
  font-size: 23px;
  line-height: 28px;
  text-shadow: 0px 1px 5px black;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.card__snippet {
  display: -webkit-box;
  max-height: 150px;
  margin: 20px 0;
  overflow: hidden;
  font-size: 16px;
  line-height: 20px;
  text-overflow: ellipsis;
  transition: 0.5s ease-in-out;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
@media (min-width: 1024px) {
  .card__snippet {
    margin: 60px 0;
  }
}
.card__button {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  border: 1px solid white;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.3s;
}
.card__button:hover {
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.disclaimer {
  position: fixed;
  bottom: 0;
  left: 50%;
  z-index: 2;
  box-sizing: border-box;
  width: 100%;
  padding: 20px 10px;
  background-color: white;
  transform: translateX(-50%);
  font-size: 14px;
  text-align: center;
}
.disclaimer__link {
  color: #755d87;
  text-decoration: none;
}
.background_landing .cards {
  margin-top: 100px;
  width: 100%;
  height: 400px;
  background-color: var(--primary);
}

/*filter bar*/
.background_landing .search_bar {
  width: 70%;
  background-color: var(--primary);
  height: auto;
  font-family: "Source Sans Pro", sans-serif;
  padding-bottom: 17px;
}

.search_bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.search_bar input {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(165, 185, 207);
  transition-duration: 0.2s;
  outline: none;
  height: 2em;
  margin-top: 1em;
  margin-left: 3px;
  margin-right: 3px;
  font-family: "Source Sans Pro", sans-serif;
}

.search_bar input[type="text"] {
  font-weight: 600;
  padding-left: 0.25em;
}

.search_bar input:focus {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(129, 163, 199);
}

.search_bar .cruise_zoeken {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.search_bar h2 {
  margin-top: 0.25em;
  font-weight: 600;
  font-size: 21px;
  text-align: center;
}

.search_bar input[type="submit"] {
  font-weight: 600;
  border-style: solid;
  width: 17%;
  background-color: white;
}

.search_bar input[type="submit"]:hover {
  background-color: var(--quaternary);
}

/*cruises.php*/
.cruises_titel h2 {
  padding-left: 43%;
  padding-top: 80px;
  background-color: var(--quaternary);
  color: var(--primary);
}

.background_cruises {
  padding-top: 100px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  background-color: var(--quaternary);
}

.background_cruises .container {
  position: relative;
  margin: 0px 0px 75px 0;
  overflow: hidden;
  width: 520px;
  height: 300px;
  background: white;
  box-shadow: 0px 0px 15px -6px #000000;
  border-radius: 10px;
}

.background_cruises .container img {
  width: 293px;
  height: 277px;
  margin-top: 12px;
  margin-left: 8px;
}

.background_cruises .container .product {
  position: absolute;
  width: 40%;
  height: 100%;
  top: 10%;
  left: 60%;
}

.background_cruises .container .product h2 {
  font-size: 1.2em;
  color: #4e4e4e;
  margin-bottom: 16px;
  margin-top: 7px;
}

.background_cruises .container .product h3 {
  color: var(--primary);
  margin-bottom: 38px;
}

.background_cruises .container .product .desc {
  text-transform: none;
  letter-spacing: 0;
  margin-bottom: 17px;
  color: #4e4e4e;
  font-size: 0.7em;
  line-height: 1.6em;
  margin-right: 40px;
  text-align: justify;
}

.background_cruises .container .product a {
  background: var(--primary);
  padding: 10px;
  display: inline-block;
  outline: 0;
  border: 0;
  margin: -1px;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #f5f5f5;
  cursor: pointer;
  text-decoration: none;
}
.background_cruises .container .product a:hover {
  background: var(--donkerblauw);
  transition: all 0.4s ease-in-out;
  color: black;
}

.background_cruises .container .product a .add {
  width: 67%;
}

/*leesmeer_cruises.php*/
.background_leesmeer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: var(--donkerblauw);
}

.info_cruises {
  margin-top: 8%;
  width: 40%;
  height: 50%;
  background-image: url("../media/foto.jpg");
  background-repeat: no-repeat;
}

.background_leesmeer .tab-wrap {
  width: 40%;
  margin-left: 20%;
  position: relative;
  display: flex;
  top: 0px;
  right: 10%;
}

.background_leesmeer .tab-wrap input[type="radio"][name="tabs"] {
  position: absolute;
  z-index: -1;
}
.background_leesmeer
  .tab-wrap
  input[type="radio"][name="tabs"]:checked
  + .tab-label-content
  label {
  color: white;
}
.background_leesmeer
  .tab-wrap
  input[type="radio"][name="tabs"]:checked
  + .tab-label-content
  .tab-content {
  display: block;
}
.background_leesmeer
  .tab-wrap
  input[type="radio"][name="tabs"]:nth-of-type(1):checked
  ~ .slide {
  left: calc((100% / 4) * 0);
}
.background_leesmeer
  .tab-wrap
  input[type="radio"][name="tabs"]:nth-of-type(2):checked
  ~ .slide {
  left: calc((100% / 4) * 1);
}
.background_leesmeer
  .tab-wrap
  input[type="radio"][name="tabs"]:nth-of-type(3):checked
  ~ .slide {
  left: calc((100% / 4) * 2);
}
.background_leesmeer
  .tab-wrap
  input[type="radio"][name="tabs"]:nth-of-type(4):checked
  ~ .slide {
  left: calc((100% / 4) * 3);
}
.background_leesmeer
  .tab-wrap
  input[type="radio"][name="tabs"]:first-of-type:checked
  ~ .slide {
  left: 0;
}

.tab-label-content label {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  background-color: var(--primary);
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 56px;
  transition: color 0.2s ease;
  width: 100%;
}

.tab-label-content label:hover {
  background-color: #f85a3e;
}

.tab-label-content {
  width: 100%;
}
.tab-label-content .tab-content {
  position: absolute;
  top: 100px;
  left: 16px;
  line-height: 130%;
  display: none;
}

/*about.php*/
.background_about {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../media/bg.jpg");
  background-repeat: no-repeat;
  height: 100vh;
}

.about_text {
  width: 60%;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  animation: bounce-in-top 1.1s both;
}

/*contact.php*/
.background_contact {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-image: url("../media/contact.jpg");
  background-repeat: no-repeat;
}

.background_contact .contact {
  margin-bottom: 100px;
  text-align: center;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.contact p {
  display: inline-block;
  font-size: 20px;
}

.contact p strong {
  font-size: 30px;
  font-weight: 600;
}

.contact_form {
  border-radius: 5px;
  padding: 20px;
  width: 22%;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.contact_form input[type="text"],
select,
textarea {
  width: 295px;
  padding: 12px;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
}

.contact_form input[type="submit"] {
  background-color: var(--primary);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact_form input[type="submit"]:hover {
  background-color: var(--quaternary);
  color: black;
}
.contact_form label {
  font-size: 18px;
}

/*login.php*/
.login_form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../media/background_login.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.login_form input[type="email"],
select,
textarea {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 12px;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
}

.login_form input[type="password"],
select,
textarea {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 12px;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
}

.login_form input[type="submit"] {
  background-color: var(--primary);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login_form input[type="submit"]:hover {
  background-color: var(--quaternary);
  color: black;
}
.login_form label {
  font-size: 18px;
  color: white;
}

/*aanmelden.php*/
.aanmelden_form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../media/background_login.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.aanmelden_form input[type="email"],
select,
textarea {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 12px;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
}

.aanmelden_form input[type="password"],
select,
textarea {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 12px;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
}

.aanmelden_form input[type="submit"] {
  background-color: var(--primary);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.aanmelden_form input[type="submit"]:hover {
  background-color: var(--quaternary);
  color: black;
}
.aanmelden_form label {
  font-size: 18px;
  color: white;
}

/*admin*/

nav {
  position: absolute;
  height: 9vh;
  display: flex;
  justify-content: space-between;
}

nav .navbar_admin {
  display: flex;
  flex-direction: row;
}

nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
  color: black;
  padding: 0 1em;
  padding-bottom: 5px;
}

nav a:hover {
  color: var(--primary);
}

.toevoegen_tabel {
  width: 100%;
  height: 100vh;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 70px;
  text-align: center;
  padding-bottom: 100px;
}
.toevoegen_tabel h2 {
  font-size: 30px;
}

.toevoegen_tabel table {
  border-collapse: collapse;
  width: 100%;
  height: auto;
  margin-top: 30px;
}

td,
th {
  border: 1px solid #ddd;
  letter-spacing: 3px;
  font-size: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.toevoegen_tabel input {
  border-style: hidden;
  padding: 20px;
  width: 100%;
}
.toevoegen_tabel .input_border:focus {
  outline: none;
}

.button_admin:hover {
  background-color: #e63b2e;
}

/*bevestingbezoeker.php*/
.bezoeker_tabel {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding-top: 70px;
  padding-left: 60px;
  padding-right: 60px;
  text-align: center;
}

.bezoeker_tabel table {
  border-collapse: collapse;
  width: 100%;
  height: auto;
  margin-top: 30px;
}

.bezoeker_tabel h2 {
  font-size: 30px;
}

.bezoeker_tabel table,
th,
td {
  border: 1px solid #ddd;
  letter-spacing: 3px;
  font-size: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.bezoeker_tabel input {
  border-style: hidden;
  padding: 12px;
}

@keyframes bounce-in-top {
  0% {
    transform: translateY(-500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}

.tabel {
  width: 100%;
  height: 100vh;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 80px;
  text-align: center;
  margin-bottom: 100px;
}

.tabel h2 {
  font-size: 30px;
}

.tabel table {
  border-collapse: collapse;
  width: 100%;
  height: auto;
  margin-top: 30px;
}

.tabel table td th {
  border: 1px solid #ddd;
  text-align: left;
  letter-spacing: 3px;
  font-family: Roboto, sans-serif, sans-serif;
  font-size: 13px;
}

.tabel th,
.tabel td {
  text-align: center;
  padding: 15px;
}

/*accountpage*/
.background_account {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  background-color: var(--quaternary);
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 10%;
  padding-bottom: 10%;
}

.background_account h2 {
margin-bottom: 5px;
}

.background_account h3 {
  margin-bottom: 5px;
  }
  .background_account p {
    margin-bottom: 15px;
    }

.background_account .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 8px;
  text-align: center;
  margin: 10px;
}

.background_account .buttons {
display: flex;
align-items: center;
}

.add {
  padding: 10px 23px;
  color: black;
  background-color: var(--primary);
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.3s;
  margin: 2px;
}
